<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="F:\Kamil\.Net\Currencies-2.0\logs\NLogInternal.log">

    <!-- Konfiguracja targetów (gdzie zapisywać logi) -->
    <targets>
        <!-- Logi do pliku -->
        <target xsi:type="File" name="file"
                fileName="F:\Kamil\.Net\Currencies-2.0\logs\logfile-${shortdate}.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,StackTrace}" />

        <!-- Logi do konsoli -->
        <target xsi:type="Console" name="console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
    </targets>

    <!-- Reguły logowania -->
    <rules>
        <!-- Wszystkie logi (od poziomu Info wzwyż) zapisywane do pliku i konsoli -->
        <logger name="*" minlevel="Info" writeTo="file,console" />
    </rules>
</nlog>
