.p-field-texts{
    display: flex;
    width: 100%;
}

.p-field{
    margin: 0.5rem 0.5rem;
    width: 100%
}

.p-field-buttons{
    display: flex;
    width: 100%;
}

.dialog-button{
    margin: 0.5rem 0.5rem;
}

.currency-from-input{
    width: 78%;
}

.currency-from{
    width: 20%;
    margin-left: 0.25rem
}

.inputs-from{
    display: flex;
    margin: 1rem 0;
}

.amount{
    width: 100%;
}

.add-money{
    width: 20vw;
}

.dialog-button{
    width: 50%;
}

.dialog-dropdown{
    margin-left: 1rem;
}