.p-field-texts{
    display: flex;
}

.p-field{
    margin: 0.5rem 0.5rem;
    width: 50%
}

.p-field-buttons{
    display: flex;
}

.dialog-button{
    margin: 0.5rem 0.5rem;
}

.currency-from-input{
    width: 78%;
}

.currency-from{
    width: 20%;
    margin-left: 0.25rem
}

.swap-button{
    height: 35px;
}

.swap-div{
    display: flex;
    align-items: center;
    margin-top: 22px
}